@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --primary: #36d1dc;
  --lightBlue: #4DA3E1;
  --blue: #5b86e5;
  --darkGreen: #001915;
  --grey: #606060;
  --darkGrey: #505050;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* color: var(--foreground); */
  color: #fff;
  background: var(--darkGreen);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--darkGreen);
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: var(--blue); */
  background: var(--grey);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--darkGrey);
}
