@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --primary: #36d1dc;
  --blue: #5b86e5;
  --darkGreen: #001915;
  --grey: #606060;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* color: var(--foreground); */
  color: #fff;
  background: var(--darkGreen);
  font-family: Arial, Helvetica, sans-serif;
}
